
.cpa-file-4:before { content: '\e900'; } /* '' */
.cpa-file-cep:before { content: '\e901'; } /* '' */
.cpa-file-cfdi:before { content: '\e902'; } /* '' */
.cpa-file-contrato:before { content: '\e903'; } /* '' */
.cpa-file-cvs:before { content: '\e904'; } /* '' */
.cpa-file-dict:before { content: '\e905'; } /* '' */
.cpa-file-dll:before { content: '\e906'; } /* '' */
.cpa-file-doc:before { content: '\e907'; } /* '' */
.cpa-file-exe:before { content: '\e908'; } /* '' */
.cpa-file-html:before { content: '\e909'; } /* '' */
.cpa-file-img:before { content: '\e90a'; } /* '' */
.cpa-file-jpg:before { content: '\e90b'; } /* '' */
.cpa-file-key:before { content: '\e90c'; } /* '' */
.cpa-file-mov:before { content: '\e90d'; } /* '' */
.cpa-file-mp3:before { content: '\e90e'; } /* '' */
.cpa-file-mp4:before { content: '\e90f'; } /* '' */
.cpa-file-none:before { content: '\e910'; } /* '' */
.cpa-file-ocompra:before { content: '\e911'; } /* '' */
.cpa-file-pdf:before { content: '\e912'; } /* '' */
.cpa-file-orecepcion:before { content: '\e913'; } /* '' */
.cpa-file-png:before { content: '\e914'; } /* '' */
.cpa-file-ppt:before { content: '\e915'; } /* '' */
.cpa-file-rar:before { content: '\e916'; } /* '' */
.cpa-file-sat:before { content: '\e917'; } /* '' */
.cpa-file-sql:before { content: '\e918'; } /* '' */
.cpa-file-txt:before { content: '\e919'; } /* '' */
.cpa-file-sua:before { content: '\e91a'; } /* '' */
.cpa-file-xls:before { content: '\e91b'; } /* '' */
.cpa-file-xlsx:before { content: '\e91c'; } /* '' */
.cpa-file-xml:before { content: '\e91d'; } /* '' */
.cpa-file-zip:before { content: '\e91e'; } /* '' */
